#!/usr/bin/make -f

export DH_VERBOSE = 1

export JAVA_HOME = /usr/lib/jvm/default-java

PROJECT_VERSION := $(shell dpkg-parsechangelog --show-field Version)
LINK_JARS := slf4j-api

%:
	dh $@

override_dh_link:
	for JAR in $(LINK_JARS); do \
		dh_link /usr/share/java/$$JAR.jar /usr/share/jaspercompiler/lib/$$JAR.jar; \
	done

override_dh_clean:
	dh_clean
	$(RM) $(CURDIR)/debian/jaspercompiler.svg

override_dh_install:
	dh_install
	sed -i 's/VERSION/$(PROJECT_VERSION)/' debian/jaspercompiler/usr/bin/jaspercompiler
	cat debian/jaspercompiler/usr/bin/jaspercompiler
#	$(RM) -r $(CURDIR)/debian/jaspercompiler/usr/share/maven-repo


override_dh_auto_configure:
override_dh_auto_test:

override_dh_auto_build:
	mvn package

override_dh_auto_install:

clean::
	mh_clean
